@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto Light';
  src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

:root {
  --Primary-Deep-Catch: #0F0F0F;
  --white: #FFFFFF;
  --picasso-rgb: 82, 242, 185;
  --picasso: rgb(var(--picasso-rgb));
}

body {
  background: var(--Primary-Deep-Catch);
  color: var(--white);
}

.caret-picasso {
  caret-color: var(--picasso);
}