@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --deep-catch: #0f0f0f;
  --white: #ffffff;
  --picasso-rgb: 82, 242, 185;
  --picasso: rgb(var(--picasso-rgb));
  --peppermint-rgb: 129, 255, 217;
  --peppermint: rgb(var(--peppermint-rgb));
  --font-roboto: "Roboto", sans-serif;
}

body {
  background: var(--deep-catch);
  color: var(--white);
}

.caret-picasso {
  caret-color: var(--picasso);
}

.copy-icon-container {
  .copy-icon-solid {
    display: none;
  }

  &:hover {
    .copy-icon-solid {
      display: block;
    }
    .copy-icon-transparent {
      display: none;
    }
  }
}
